---
const { href, imageSrc, title, description, style } = Astro.props;
---

<a
	href={href}
	class={`flex flex-col ${style} w-full items-center bg-white border border-gray-200 rounded-lg shadow lg:flex-row hover:bg-gray-100`}
>
	<img
		class="object-cover w-full rounded-t-lg h-96 lg:h-auto lg:w-48 lg:rounded-none lg:rounded-l-lg"
		src={imageSrc}
		alt={description}
	/>
	<div class="flex flex-col justify-between p-4 leading-normal">
		<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
			{title}
		</h5>
		<p class="mb-3 font-normal text-gray-700">
			{description}
		</p>
	</div>
</a>
